.bg-top{
    background-color:transparent !important;
    font-size: 16px;
}
.text{
    
    color:white;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
}
.ftco-navbar-light{
    background: transparent !important;
    z-index: 3;
    padding: 0;
    
}
.navbar-brand{
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    
}
.ftco-navbar-light .navbar-nav>
.nav-item> .nav-link .navbar-brand{
    font-size: 11px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
   

}
h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .p {
    text-align: center;
    padding-top: 40px;
    font-size: 13px;
  }
  .col-md-12{
      text-align:bottom;
      color:#82ae46;
      padding: 6rem;
  }
  .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
