h1 {
    text-align: center;
}
.farmer{
    border-top: 2cm;
    border-style: ridge;
    border-color: green;
    margin-top: 1cm;
    margin-bottom: 1cm;

}
.add-new-product{
    align-self: center;
    margin-left: 15.85cm;
    background-color: green;
    color: white;

}