<link routerLink="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link routerLink="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
<link routerLink="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link routerLink="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link routerLink="stylesheet" routerLink="D:\Training\JavaWorkspace\farmers-2-home\farmers2home-angular\src\styles.css">
<!-- End Link Sheets -->


<div class="humberger__menu__contact">
  <div class="bg-top">
  <body class="go to here">
<div style="color:white;">
  <div style="background:#82ae46;">
    	<div class="top-container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <i class="fa fa-phone"></i> <span class="text"> +44 7911 123456</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <i class="fa fa-send-o"> </i> <span class="text">farmers2home@gmail.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 BUSINESS DAYS DELIVERY &amp; FREE RETURNS</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
  </div>
  <!-- End of the top menu -->

  <nav class="navbar navbar-expand-lg navbar-light  ftco-navbar-light" id="ftco-navbar">
    <div class="container">
    
   <a class="navbar-brand" href="/">Farmers2Home</a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <span class="oi oi-menu"></span> Menu
  </button>

 

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home-page">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="product/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="product/">All Products</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="product/">Vegetables</a>
            <a class="dropdown-item" routerLink="product/">Fruits</a>
            <a class="dropdown-item" routerLink="product/">Juices</a>
            <a class="dropdown-item" routerLink="product/">Meat</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us/">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog/">Blog <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us/">Contact Us <span class="sr-only">(contact-us)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-heart"></i>  Wishlist
            </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> Customers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/customer/profile">Profile</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/customer/login">Log In</a>
            <a class="dropdown-item" routerLink="/customer/register">Register</a>
            <a class="dropdown-item" routerLink="/customer/login" *ngIf="custService.isLoggedIn" (click)="custService.customerLogout()">Logout</a>
          </div>  
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>Farmers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/farmers/profile">My Products</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/farmers/login">Log In</a>
            <a class="dropdown-item" routerLink="/farmers/register">Register</a>
            <a class="dropdown-item" routerLink="/" *ngIf="farmerService.isLoggedIn" (click)="farmerService.farmerLogout()">Logout</a>
          </div>  
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart"></i>  Basket 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/basket">Basket Items</a>
            <a class="dropdown-item" routerLink="/payment-checkout">Checkout</a>
          </div>
        </li>
      </ul>
  </div>
</nav>
<!-- End of Nav-->

<div> <img class="account-placeholder" src="/assets/images/account-placeholder.jpg"  height=250>
<table [ngClass]="'light'" class="table col-sm-2 offset-sm-5" *ngIf="custService.isLoggedIn">
    <thead>
    <tr>
      <th>Email Address</th>
      <td>{{custService.currentUser.emailAddress}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{custService.currentUser.customerName}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{custService.currentUser.customerAddress}}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>{{custService.currentUser.customerContact}}</td>
    </tr>
    </thead>
</table>

<!-- <table [ngClass]="'light'" class="table table-bordered col-sm-8 offset-sm-2" *ngIf="custService.isLoggedIn">
    <caption [ngClass]="'light'">My Orders</caption>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Price</th>
      <th>Order Status</th>
      <th>Order Date</th>
      <th>Subscription</th>
    </tr>
    <!-- <tr class="orderRow" *ngFor = "let row of orders" (click)="orderDetails(row.orderId)">
        <td *ngFor = "let column of headers">
          {{row..orderId}}
        </td>
      </tr>
    </thead>
</table> -->


<!-- <h2 *ngIf="!custService.isLoggedIn">Please Sign In!</h2>

<tr class="orderItems" *ngFor="let order of orders; let i = index">

  <<td> <img src="/assets/images/placeholder.jpg" height=100 class="placeholder-image"> </td> -->

  <!-- <td>{{order.orderId}}</td>

  <td>{{order.orderPrice}}</td>
  <td>{{order.orderStatus}}</td>
  <td>{{order.orderDate}}</td>
  <td>{{order.isSubscription}}</td> -->
   
  <!-- <td> <input type="number" id="quantity" value="0" name="quantity" min="1" max="5"></td> -->
