h2{
   text-align: center;
}

caption{
    text-align: center;
    font-weight: bold;
    caption-side: top;
    font-size: larger;
}

.orderRow{
    cursor: pointer;
}

.orderRow:hover{
    background-color: #bddbf0;
}
.account-placeholder{
    margin-left: 13cm;
    text-align: center;
    margin-top: 0;

}